<footer role="contentinfo" class="footer">
    <div class="advantages">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="advantages-item">
                        <img src="./catalog/view/theme/default/image/icon-1.png" alt="" class="img-responsive" alt="">
                        <div class="advantages-item-text">
                        Доставка
                        <span>
                         по всей Украине
                        </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="advantages-item">
                        <img src="./catalog/view/theme/default/image/icon-2.png" alt="" class="img-responsive" alt="">
                        <div class="advantages-item-text">
                            Возврат
                            <span>
                             в течении 30 дней
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="advantages-item">
                        <img src="./catalog/view/theme/default/image/icon-3.png" alt="" class="img-responsive" alt="">
                        <div class="advantages-item-text">
                            Скидки
                        <span>
                         до -20%
                        </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="advantages-item">
                        <img src="./catalog/view/theme/default/image/icon-3.png" alt="" class="img-responsive"
                             alt="">
                        <div class="advantages-item-text">
                            Акции
                                <span>
                                 и подарки
                                </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-logo">
        <div class="container">
            <div class="footer-col">
                <img src="./catalog/view/theme/default/image/chery.png" alt="" class="img-responsive" alt="">
            </div>
            <div class="footer-col">
                <img src="./catalog/view/theme/default/image/chevrolet.png" alt="" class="img-responsive" alt="">
            </div>
            <div class="footer-col">
                <img src="./catalog/view/theme/default/image/geely.png" alt="" class="img-responsive" alt="">
            </div>
            <div class="footer-col">
                <img src="./catalog/view/theme/default/image/hyundai.png" alt="" class="img-responsive" alt="">
            </div>
            <div class="footer-col">
                <img src="./catalog/view/theme/default/image/kia.png" alt="" class="img-responsive" alt="">
            </div>
            <div class="footer-col">
                <img src="./catalog/view/theme/default/image/daewoo-1.png" alt="" class="img-responsive" alt="">
            </div>
            <div class="footer-col">
                <img src="./catalog/view/theme/default/image/emgrand.png" alt="" class="img-responsive" alt="">
            </div>
            <div class="footer-col">
                <img src="./catalog/view/theme/default/image/great-wall.png" alt="" class="img-responsive" alt="">
            </div>
            <div class="footer-col">
                <img src="./catalog/view/theme/default/image/daewoo.png" alt="" class="img-responsive" alt="">
            </div>


        </div>
    </div>
    <div class="footer-text">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 social-parent">
                    <img src="./catalog/view/theme/default/image/logo.png" alt="" class="img-responsive footer-logo">
                    <ul class="social">
                        <li>
                            <a href="#" class="fa fa-vk">

                            </a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-facebook">

                            </a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-twitter">

                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <div class="address-block first">
                                <div class="address">
                                    Воздухофлотский пр-т, 56 <br>
                                    (район Севастопольской пл.)
                                </div>
                                <ul class="list-unstyled footer-contact-list">
                                    <li>
                                        <a href="tel:0932063462" role="button">
                                            (093) 206-34-62
                                        </a>
                                    </li>
                                    <li>
                                        <a href="tel:0986182115" role="button">
                                            (098) 618-21-15
                                        </a>
                                    </li>
                                    <li>
                                        <a href="skype:shvec.mao?chat">skype: shvec.mao</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="address-block">
                                <div class="address">
                                    ул. И. Микитенко, 11 <br>
                                    (500м от авторынка на Перова)
                                </div>
                                <ul class="list-unstyled footer-contact-list">
                                    <li>
                                        <a href="tel:0934914515" role="button">
                                            (093) 491-45-15
                                        </a>
                                    </li>
                                    <li>
                                        <a href="skype:artem.mao1?chat">skype: artem.mao1</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="address-block last">
                                <div class="address">
                                    ул. Автозаводская, 76<br>
                                    +СТО
                                </div>
                                <ul class="list-unstyled footer-contact-list">
                                    <li>
                                        <a href="tel:0632384133" role="button">
                                            (063) 238-41-33
                                        </a>
                                    </li>
                                    <li>
                                        <a href="skype:koljan0312?chat">skype: koljan0312</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="mao-copyright">
                        2009-2016 "MAO запчасти для китайских авто" ТМ "МАО" Все права защищены
                        <!--<?php echo $powered; ?>-->
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 reclamare">
                    <a href="http://www.reclamare.ua/uslugi/seo-prodvizhenie/" rel="nofollow" role='link'
                       title="Продвижение сайтов Киев">
                        made by <img src="./catalog/view/theme/default/image/rcl__logo--svg.png" alt="Reclamare Logo">
                        with
                        <i class="fa fa-heart-o"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>
</footer>

</body></html>