.top-nav {
  margin: 0;
  float: left;

  @include max-md {
    display: none;
  }

  li {
    display: inline-block;

    &:before {
      display: inline-block;
      content: '/';
      color: $global-color;
    }

    &:nth-of-type(1) {
      &:before {
        display: none;
      }

      a {
        margin-left: 0;
      }
    }

    a {
      display: inline-block;
      position: relative;
      margin: 0 4px;
      padding: 21px 0;
      font-size: $font-size-large;
      line-height: $line-height-normal;
      @include transition-willChange(color);
      vertical-align: middle;

      &:after {
        content: '';
        @include absolute(null 0 17px null);
        @include size(100% 1px);
        background-color: $brand-primary;
        transform: translateY(400%);
        opacity: 0;
        will-change: bottom, opacity;
        transition: opacity $a-transition, bottom $a-transition;
      }

      &:hover {
        &:after {
          bottom: 22px;
          opacity: 1;
        }
      }
    }
  }
}

.top-links {
  float: right;

  > ul {
    @include size-reset();
    @include clearfix;

    > li {
      display: block;
      float: left;
    }
  }

  .dropdown-toggle {
    padding: 16px 0 13px 25px;

    @include sm {
      padding: 19px 0 19px 25px;
    }
  }
}

.nav-top {
  height: 48px;
  margin-bottom: 12px;
  background-color: $footer-text-bg;

  @include sm{
    margin-bottom: 20px;
  }

  @include sm {
    height: 60px;
    background-color: rgba(51, 55, 64, .85);
  }
}

.top-numbers {

  @include sm {
    margin-right: 15px;
  }
}

.header {
  margin-bottom: 12px;

  @include sm {
    margin-bottom: 24px;
  }
}

#logo {
  > a {
    display: block;
    padding-top: 6px;

    @include sm {
      padding: 0;
    }
  }
}

.top-menu-links{
  @include sm{
    display: none;
  }
}

.btn-nav{
  position: relative;
  left: -10px;
  @include size(24px 16px);
  padding: 24px;
  border: none;
  z-index: 1000;
  will-change: background-color, top;
  transition: background-color $a-transition, top $a-transition;
  background-color: $footer-text-bg;

  .span-overlay {
    @include middle-center;
    @include size(24px 16px);
  }

  @include sm{
    padding: 30px;
    background-color: transparent;
  }

  @include md{
    display: none;
  }

  span {
    display: block;
    @include size(24px 2px);
    position: absolute;
    left: 0;
    background: $global-color;
    will-change: transform, position;
    transition: transform $a-transition, position $a-transition;

    &:nth-of-type(1) {
      top: 0;
    }

    &:nth-of-type(2) {
      top: 7px;
      transition: .1s ease-in-out;
    }

    &:nth-of-type(3) {
      top: 14px;
    }
  }

  &.active{
    //position: fixed;
    //left: 10px;
    background: $gray-base;
    top: -2px;
    span {

      &:nth-of-type(1) {
        transform: rotate(45deg) translate(28%, 357%);
      }

      &:nth-of-type(2) {
        opacity: 0;
      }

      &:nth-of-type(3) {
        top: 10px;
        transform: rotate(-45deg);
      }
    }
  }
}

#content{
  @include transition-willChange(z-index);

  &.search-active{
    z-index: -1;
  }
}