//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 2px solid transparent;
  white-space: nowrap;
  @include user-select(none);


  &,
  &:active,
  &:focus {
    @include tab-focus;
  }
}

.btn-hover{
  font-weight: $btn-font-weight;
  will-change: color, background-color, border, box-shadow;
  transition: color $a-transition, background-color $a-transition, border $a-transition, box-shadow $a-transition;
  @include button-size(12px, 30px, $font-size-base, $font-size-lg, $btn-border-radius-base);
  text-transform: uppercase;

  &:hover,
  &.hover{
    background-color: $brand-primary-active;
    color: $global-color;
    border-color: $brand-primary-active;
    box-shadow: 0px 10px 30px 0px rgba(255, 153, 0, 0.5);
  }

  &:active,
  &.active{
    color: $brand-primary-active;
    background-color: $global-color;
    border-color: $global-color;
    box-shadow: none;
  }

  &.disabled,
  fieldset[disabled] {
    background-color: $gray-disabled;
    border-color: $gray;
    color: #9da0a6;
    pointer-events: none;
    cursor: $cursor-disabled;
  }
}



// Alternate buttons
// --------------------------------------------------
//@mixin button-variant($color, $background, $border)

.btn-default {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}
.btn-outline {
  @include button-variant($btn-outline-color, $btn-outline-bg, $btn-outline-border);
}
.btn-ghost{
  @include button-variant($btn-ghost-color, $btn-ghost-bg, $btn-ghost-border);
}

// Success appears as green
.btn-success {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}
// Info appears as blue-green
.btn-info {
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}
// Warning appears as orange
.btn-warning {
  @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}
// Danger and error appear as red
.btn-danger {
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}


// Link buttons
// -------------------------

// Make a button look and behave like a link
.btn-link {
  color: $link-color;
  font-weight: normal;
  border-radius: 0;

  &,
  &:active,
  &.active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    @include box-shadow(none);
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: $btn-link-disabled-color;
      text-decoration: none;
    }
  }
}


// Button Sizes
// --------------------------------------------------

.btn-xs {
  @include button-size(12px, 30px, $font-size-base, $font-size-lg/2, $btn-border-radius-base);
}

// Block button
// --------------------------------------------------

.btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}


.btn-close{
  @include absolute(24px 18px null null);
  @include size(36px);
  padding: 0;
  background-color: $global-color;
  @include rounded();
  box-shadow: -4px 2px 8px 1px rgba(0,0,0,0.13);
  color: $gray-base
}