//
// Navs
// --------------------------------------------------

// Base class
// --------------------------------------------------
.nav-menu {
  position: relative;
  padding: 12px 0;
  z-index: 10;

  @include max-md {
    transform: translateX(-100%);
    @include size(100%);
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    @include transition-willChange(transform);
    padding-top: 50px;

    &.open {
      transform: translateX(0);
    }
  }

  @include sm-md{
    @include size(70% 100%);
    padding-top: 70px;
  }
}

.nav {
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;
  @include clearfix;

  li {
    position: relative;
    display: block;

    a {
      position: relative;
      display: block;
      font-size: $font-size-large;
      padding: $nav-link-padding;
      overflow: hidden;
      @include transition-willChange(color);

      @include max-sm{
        will-change: color, background-color;
        transition: color $a-transition, background-color $a-transition;
      }

      @include sm {
        &:before {
          content: '';
          @include size(100%);
          @include absolute(0 null null 0);
          background-color: $brand-primary;
          transform: translateX(-100%);
          will-change: opacity, transform;
          transition: opacity $a-transition, transform $a-transition;
          z-index: -1;
          opacity: 0;
        }
      }

      &:hover {
        text-decoration: none;
        color: $global-color;

        @include max-sm{
          color: $global-color;
          background-color: $brand-primary;
        }

        @include sm {
          &:before {
            transform: translateX(0);
            opacity: 1;
          }
        }
      }
    }

    &.has-submenu {
      ul {
        @include max-sm{
          display: none;
        }
        li {
          will-change: opacity, transform;
          opacity: 0;
          transition-duration: .15s;
          transition-property: opacity, transform;
          transition-timing-function: ease-in-out;
          transform: translateX(-30%);
        }
      }

      > a {
        &:after {
          content: "\f178";
          font-family: FontAwesome;
          @include absolute(50% 12px null null);
          transform: translate(-50%, -50%);
          font-size: $font-size-large;
          opacity: 0;
          will-change: transform, opacity;
          transition: transform .15s $a-transition, opacity .15s $a-transition;
        }
      }

      &:hover {
        .submenu {
          right: -90%;
        }
        li {
          opacity: 1;
        }

        > a {
          &:after {
            opacity: 1;
            transform: translate(0, -50%);
          }
        }
        .submenu {
          opacity: 1;
          ul {
            li {
              transform: translateX(0);
              opacity: 1;

              &:nth-of-type(1) {
                transition-delay: .15s;
              }
              &:nth-of-type(2) {
                transition-delay: .20s;
              }
              &:nth-of-type(3) {
                transition-delay: .25s;
              }
              &:nth-of-type(4) {
                transition-delay: .30s;
              }
              &:nth-of-type(5) {
                transition-delay: .35s;
              }
              &:nth-of-type(6) {
                transition-delay: .40s;
              }
              &:nth-of-type(7) {
                transition-delay: .45s;
              }
              &:nth-of-type(8) {
                transition-delay: .50s;
              }
              &:nth-of-type(9) {
                transition-delay: .55s;
              }
              &:nth-of-type(10) {
                transition-delay: .60s;
              }
            }
          }
        }
      }

      .submenu {
        @include absolute(-12px 0 null null);
        will-change: opacity, right;
        transition: opacity $a-transition, right $a-transition;
        padding: 12px 0;
        z-index: -1;
        opacity: 0;
        overflow: hidden;
      }
    }
  }

  // Open dropdowns
  .open > a {
    &,
    &:hover,
    &:focus {
      background-color: $nav-link-hover-bg;
      border-color: $link-color;
    }
  }

  // Nav dividers (deprecated with v3.0.1)
  //
  // This should have been removed in v3 with the dropping of `.nav-list`, but
  // we missed it. We don't currently support this anywhere, but in the interest
  // of maintaining backward compatibility in case you use it, it's deprecated.
  .nav-divider {
    @include nav-divider;
  }

  // Prevent IE8 from misplacing imgs
  //
  // See https://github.com/h5bp/html5-boilerplate/issues/984#issuecomment-3985989
  > li > a > img {
    max-width: none;
  }

  &-link {
    padding-top: 40px;
  }
}

// Tabs
// -------------------------

// Give the tabs something to sit on
.nav-tabs {
  border-bottom: 1px solid $nav-tabs-border-color;
  > li {
    float: left;
    // Make the list-items overlay the bottom border
    margin-bottom: -1px;

    // Actual tabs (as links)
    > a {
      margin-right: 2px;
      line-height: $line-height-base;
      border: 1px solid transparent;
      border-radius: $border-radius-base $border-radius-base 0 0;
      &:hover {
        border-color: $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-border-color;
      }
    }

    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: $nav-tabs-active-link-hover-color;
        background-color: $nav-tabs-active-link-hover-bg;
        border: 1px solid $nav-tabs-active-link-hover-border-color;
        border-bottom-color: transparent;
        cursor: default;
      }
    }
  }
  // pulling this in mainly for less shorthand
  &.nav-justified {
    @extend .nav-justified;
    @extend .nav-tabs-justified;
  }
}

// Pills
// -------------------------
.nav-pills {
  > li {
    float: left;

    // Links rendered as pills
    > a {
      border-radius: $nav-pills-border-radius;
    }
    + li {
      margin-left: 2px;
    }

    // Active state
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: $nav-pills-active-link-hover-color;
        background-color: $nav-pills-active-link-hover-bg;
      }
    }
  }
}

// Stacked pills
.nav-stacked {
  > li {
    float: none;
    + li {
      margin-top: 2px;
      margin-left: 0; // no need for this gap between nav items
    }
  }
}

// Nav variations
// --------------------------------------------------

// Justified nav links
// -------------------------

.nav-justified {
  width: 100%;

  > li {
    float: none;
    > a {
      text-align: center;
      margin-bottom: 5px;
    }
  }

  > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
  }

  @media (min-width: $screen-sm-min) {
    > li {
      display: table-cell;
      width: 1%;
      > a {
        margin-bottom: 0;
      }
    }
  }
}

// Move borders to anchors instead of bottom of list
//
// Mixin for adding on top the shared `.nav-justified` styles for our tabs
.nav-tabs-justified {
  border-bottom: 0;

  > li > a {
    // Override margin from .nav-tabs
    margin-right: 0;
    border-radius: $border-radius-base;
  }

  > .active > a,
  > .active > a:hover,
  > .active > a:focus {
    border: 1px solid $nav-tabs-justified-link-border-color;
  }

  @media (min-width: $screen-sm-min) {
    > li > a {
      border-bottom: 1px solid $nav-tabs-justified-link-border-color;
      border-radius: $border-radius-base $border-radius-base 0 0;
    }
    > .active > a,
    > .active > a:hover,
    > .active > a:focus {
      border-bottom-color: $nav-tabs-justified-active-link-border-color;
    }
  }
}

// Tabbable tabs
// -------------------------

// Hide tabbable panes to start, show them when `.active`
.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}

// Dropdowns
// -------------------------

// Specific dropdowns
.nav-tabs .dropdown-menu {
  // make dropdown border overlap tab border
  margin-top: -1px;
  // Remove the top rounded corners here since there is a hard edge above the menu
  @include border-top-radius(0);
}
